<section id="content">
    <div id="dash-head" class="clearfix">
        <div class="left">
            <h1>Welcome to<br>the <a href="#">Members</a> Area</h1>
        </div>
        <div class="right">
            <a id="welcomevideolink" href="#" data-ng-click="openVideo()"><span>Click to watch<br>the welcome video</span></a>
        </div>
    </div>
    <div>
        <a id="readmore" href="#">Read more</a>
    </div>
    <div id="dash-infoboxes" class="centeredboxes">
        <div>
            <img src="/front/assets/images/dex-ib.png">
            <h3>International Binary Signals</h3>
				<span>
					We will creating a logo for each one of the brands/products below that should be similar, but each have their own unique color or style to set them apart. Leave space to use these logos inside the design. 
				</span>
            <a class="submitbutton" ui-sref="dex_ib" style="background-color: #00b4ff">Click Here To Upgrade</a>
        </div>
        <div>
            <img src="/front/assets/images/dex-na.png">
            <h3>North American Derivatives</h3>
				<span>
					We will creating a logo for each one of the brands/products below that should be similar, but each have their own unique color or style to set them apart. 
				</span>
            <a class="submitbutton" href="#" style="background-color: #206bc0">Click Here To Upgrade</a>
        </div>
        <div>
            <img src="/front/assets/images/dex-fx.png">
            <h3>Forex Options Newslatter</h3>
				<span>
					We will creating a logo for each one of the brands/products below that should be similar, but each have their own unique color or style to set them apart. Leave space to use these logos. 
				</span>
            <a class="submitbutton" href="#" style="background-color: #434aac">Click Here To Upgrade</a>
        </div>
    </div>
</section>

<script type="text/ng-template" id="videoModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="close()" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">Welcome!</h3>
    </div>
    <div class="modal-body">
        <youtube-video video-id="video_id"
                       player-width="'620px'"
                       player-height="'350px'"
                       player="ytPlayer"
                       player-vars="playerVars"></youtube-video>
    </div>
</script>