.certification-training {

  #video-sideinfo.playlist .title:before{
    top: 13px;
  }

  #video-sideinfo.playlist > a{
    padding-left: 40px;

    span {
      top: 19px;
    }
  }

  #video-sideinfo.playlist > a:before {
    top: 19px;
  }

  a.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.dex-score {
  table {
    .web-site {
      display: block;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.dex-ib-pro-upgrade {
  .video {
    width: 620px;
    margin: 0 auto;
  }
}

.dex-in-sales {
  .header-page {
    display: none;
  }
}

.dex-ib-signals {
  .filters {
    form {
      width: 100%;
    }

    th,td {
      padding: 0px;
    }

    .form-control {
      height: 30px;
      padding: 2px;
      margin: 0;
    }

    .datetimepicker-wrapper > input {
      height: 30px;
      padding: 5px;
      width: 88px;
      margin-top: 0px;
    }
  }

  .table-signals{
    .blue{
      color: #007BAF;
    }
  }
}

.dex-ib-affiliates {
  z-index: 3;
  .sp-content h1 {
    margin-top: 0;
  }
}