<!--<body class="spa">-->

<section id="head-subinfo">
    You're Invited To DEX IB Signals Product Launch!
</section>

<section id="spa-head" class="sp-section dex-ib-affiliates">
    <div class="sp-content">
        <h1 class="align-center">Do You Want To Make Money For Life<br>
            From Your Affiliate IB Sales?</h1>

        <div class="italic">100% Free To Join And We Send Weekly Payments Direct<br>
            To Your Bank Account!
        </div>
        <div class="spacer"></div>
        <div id="spa-head-video">
            <iframe id="video-player" type="text/html"
                    src="http://www.youtube.com/embed/lYKRPzOi1zI?autoplay=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0"></iframe>
        </div>
        <button class="btn bigbutton bg-orange submitbutton align-center"
                data-ng-click="openOrderNowForm()">Join The Free DEX IB Affiliate Launch
        </button>
    </div>
</section>

<section id="spa-2" class="sp-section">
    <div class="sp-content">
        <h1 class="align-center">What Makes The DEX IB Signals Affiliate<br>
            Launch So aSpecial?</h1>

        <div id="wm-wrapper">
            <div>
                <img src="/front/assets/images/sa-1.png">
                Offer Your Customers
                Quality Tools With Proven
                Win Rates!
            </div>
            <div>
                <img src="/front/assets/images/sa-2.png">
                Earn 50% Commissions
                On All Your Affiliate Sales,
                Forever!
            </div>
            <div>
                <img src="/front/assets/images/sa-3.png">
                Get Weekly Payments Sent
                Direct To Your Bank
                Account!
            </div>
            <span id="wm-spacer-mid"></span>

            <div>
                <img src="/front/assets/images/sa-4.png">
                Make Money From
                The Same Customers
                Over And Over!
            </div>
            <span id="wm-spacer"></span>

            <div class="wm-holder"></div>
            <div>
                <img src="/front/assets/images/sa-5.png">
                High Converting Sales
                Funnels And Affiliate
                Resources!
            </div>
            <div>
                <img src="/front/assets/images/sa-6.png">
                Win Over $10,000 in Prizes
                From Our Launch
                Contest!
            </div>
            <div class="wm-holder"></div>
        </div>
        <div class="spacer-big"></div>
        <div class="wm-mbw" style="width: 365px">
            <button class="btn bigbutton bg-orange submitbutton align-center"
                    data-ng-click="openOrderNowForm()">Join The Free DEX IB Affiliate Launch
            </button>
        </div>
    </div>
</section>
<section id="spa-3" class="sp-section">
    <div class="sp-content">
        <h1 class="white align-center">What Are You Giving Away In The DEX IB<br>
            Launch Contest?</h1>

        <div class="italic">Top 5 Win Cash Prizes</div>
        <div class="spacer"></div>

        <div id="gap-wrapper" class="centeredboxes">
            <div class="gap">
                <div class="gap-num">1</div>
                $3,000 Cash
            </div>
            <div class="gap">
                <div class="gap-num">2</div>
                $2,500 Cash
            </div>
            <span class="wm-spacer-low"></span>

            <div class="gap">
                <div class="gap-num">3</div>
                $2,000 Cash
            </div>
            <div class="gap">
                <div class="gap-num">4</div>
                $1,500 Cash
            </div>
            <span class="wm-spacer-low"></span>

            <div class="gap">
                <div class="gap-num">5</div>
                $1,000 Cash
            </div>
        </div>
    </div>
</section>
<section id="spa-4" class="sp-section">
    <div class="sp-content">
        <h1 class="align-center">Affiliate Giveaway Prizes</h1>

        <div id="ga-prizes" class="centeredboxes">
            <div>
                <div class="prize-img">
                    <img src="/front/assets/images/prize-1.jpg">
                </div>
                Bose Headphones
            </div>
            <div>
                <div class="prize-img">
                    <img src="/front/assets/images/prize-2.jpg">
                </div>
                Apple Watch
            </div>
            <span class="pr-spacer-low"></span>

            <div>
                <div class="prize-img">
                    <img src="/front/assets/images/prize-3.jpg">
                </div>
                Apple iPAD 2
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="spacer-big"></div>
        <div class="wm-mbw" style="width: 365px">
            <button class="btn bigbutton bg-orange submitbutton align-center"
                    data-ng-click="openOrderNowForm()">Join The Free DEX IB Affiliate Launch
            </button>
        </div>
    </div>
</section>
<section id="spa-5" class="sp-section">
    <div class="sp-content">
        If you have questions that are not answered by the training videos on the next page OR if you're
        a Company Owner, Offer Owner, Top Team Leader, or Super Affiliate and want us to help design
        a custom launch plan for your list, please email us at <span>admin@dextrader.com</span>
    </div>
</section>

