<section id="content" class="dex-score">
    <h2 class="spaced">Trading Signals Providers</h2>

    <table class="base-table table-dexscore">
        <thead>
        <tr>
            <th sortable="1"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort(1)">Broker</th>
            <th sortable="2"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort(2)">Min Deposit</th>
            <th sortable="3"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort(3)">US Traders</th>
            <th>Review</th>
            <th sortable="4"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort(4)">Visit Website</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="provider in providers">
            <td><img data-ng-src="/assets/images/{{provider.image}}"></td>
            <td data-ng-bind="provider.min_deposit | currency: '$'"></td>
            <td data-ng-bind="(provider.us_traders && 'Yes' || 'No')"></td>
            <td class="link">
                <a href="#" data-ng-click="openProviderReview(provider)">
                    Read Review
                </a>
            </td>
            <td class="link">
                <a href="{{provider.web_site}}" target="_blank" class="web-site">
                    <span>{{provider.web_site}}</span>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="table-nav row">
        <div class="col-md-8">
            <uib-pagination direction-links="false"
                            total-items="pagination.totalItems"
                            ng-model="pagination.currentPage"
                            items-per-page="pagination.itemsPerPage"
                            ng-change="pagination.pageChange()"
                            num-pages="smallnumPages"></uib-pagination>
        </div>

        <div class="col-md-4">
            <uib-pager total-items="pagination.totalItems"
                       items-per-page="pagination.itemsPerPage"
                       ng-model="pagination.currentPage"
                       ng-change="pagination.pageChange()">
            </uib-pager>
        </div>
    </div>
    <div class="spacer-big"></div>
</section>