<section id="content" class="page-start">
    <div id="dash-head" class="clearfix">
        <div class="text-center">
            <h1>Welcome to the <a href="#">#1</a><br> Source For Trading Education!</h1>
        </div>
        <!--<div class="right">-->
            <!--<a id="welcomevideolink" href="#"-->
               <!--data-ng-click="openVideo()"><span>Click to watch<br>the welcome video</span></a>-->
        <!--</div>-->
    </div>
    <div id="dash-infoboxes" class="centeredboxes">
        <div>
            <img src="/front/assets/images/dex-ib.png">

            <h3>International Binary Options</h3>
				<span>
					International binary may seem to be the easiest asset to trade because you just simply pick up or down, right? Though in all actuality it can be the toughest trading asset to make money with. Our strong trading education platform will teach you how to spot and confirm entries into the binary market and know when to avoid risky trades. We also teach you how to use proven indicators to help secure success at the highest rate and we even include live question and answer training sessions with professional binary options traders so you’re never left alone. Click the button below to get instant access to our international binary options training.
				</span>
            <p class="price absolute">Price: <span>$47</span><small> Per Month</small></p>
            <a class="submitbutton" href="{{secure_url}}/ib" style="background-color: #00b4ff">Click Here To Upgrade</a>
        </div>
        <div>
            <img src="/front/assets/images/dex-na.png">

            <h3>North American Derivatives</h3>
				<span>
					The North American Derivatives Exchange or NADEX is a creative broker that can easily assist in the making of your portfolio. This broker though has many pitfalls if you’re not properly trained and it’s easy to get lost in the whirlwind of trades and expires.  Knowing all the assets and how to trade them is key to this very lucrative broker. With training on using key indicators followed up by probability signals, you will be able to corner a large part of the market very easily and we even include live question and answer training sessions with professional nadex traders so you’re never left alone. Click the button below to get instant access to our north american derivatives training.
				</span>
            <p class="price absolute">Price: <span>$67</span><small> Per Month</small></p>
            <a class="submitbutton" href="{{secure_url}}/na" style="background-color: #206bc0">Click Here To
                Upgrade</a>
        </div>
        <div>
            <img src="/front/assets/images/dex-fx.png">

            <h3>Forex Options Newsletter</h3>
				<span>
					Forex is the currency exchange that every trader aspires to master because of its high liquidity, but this exchange has so many pitfalls, traps and brokers that if not careful you could easily lose a fortune. Our training lessons for this Exchange will prepare you for just about every possibility and also help you decided where to start financially. Don’t be fooled by its complexity. Once you learn the path it is extremely lucrative and even include live question and answer training sessions with professional traders so you’re never left alone. Click the button below to get instant access to our forex options training.
				</span>
            <p class="price absolute">Price: <span>$97</span><small> Per Month</small></p>
            <a class="submitbutton" href="{{secure_url}}/fx" style="background-color: #434aac">Click Here To
                Upgrade</a>
        </div>
        <div class="wide">
            <div class="row">
                <div class="col-md-8">

                    <h3>Dex Trading Academy</h3>
                    <span>
                        This is where you will get access to all of our most advanced trading strategies and tools that we use to increase our accuracy and overall results on each platform. We include training from many different trading experts so you can learn the secrets to their success. The Academy also includes a weekly live training that’s only available to academy members where we bring in new expert traders to share what’s working in the markets right now. Click the button to purchase to the academy product today.
                    </span>
                </div>
                <div class="col-md-4">
                    <img src="/front/assets/images/dex-academy.png">
                    <p class="price">Price: <span>$497</span><small> One Time</small></p>
                    <a class="submitbutton" href="{{secure_url}}/academy" style="background-color: #2f3585; margin: 0 15px;">Click Here To
                        Upgrade</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="videoModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="close()" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title">Welcome!</h3>
    </div>
    <div class="modal-body">
        <youtube-video video-id="video_id"
                       player-width="'620px'"
                       player-height="'350px'"
                       player="ytPlayer"
                       player-vars="playerVars"></youtube-video>
    </div>
</script>