<section id="sp-home" class="sp-section">
    <div class="sp-content">
        <header class="no-bg">
            <div id="header-content">
                <div id="logo"><a ui-sref="home"><img src="/assets/images/logo.png" alt="DEX Trader"></a></div>
                <ul id="header-nav">
                    <li><a href="#sp-home">Home</a></li>
                    <li><a href="#sp-feature-01">Features</a></li>
                    <li><a href="#sp-dp">Results</a></li>
                    <li><a href="#sp-testim">Stories</a></li>
                    <li><a href="#sp-faq">FAQ</a></li>
                </ul>
                <ul id="nav-profile">
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
                <ul class="mob-nav">
                    <li>
                        <a href="#"><img src="/assets/images/ico-mob.png"></a>
                        <ul>
                            <li><a href="#sp-home">Home</a></li>
                            <li><a href="#sp-feature-01">Features</a></li>
                            <li><a href="#sp-dp">Results</a></li>
                            <li><a href="#sp-testim">Stories</a></li>
                            <li><a href="#sp-faq">FAQ</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </header>

        <div class="spacer"></div>
        <div id="sp-home-wrapper">
            <h1 class="white align-center">Do You Want To Make Money Trading,<br>Without The Risk Of Losing All Your Money?</h1>

            <div id="sp-home-video">
                <iframe id="video-player" type="text/html" src="http://www.youtube.com/embed/lYKRPzOi1zI?autoplay=0&amp;controls=0&amp;showinfo=0" frameborder="0"></iframe>
            </div>
            <a ui-sref="checkout" class="button bg-orange submitbutton">Order Now</a>
        </div>
    </div>
</section>
<section id="sp-small-features" class="sp-section">
    <div class="sp-content">
        <div>
            <img src="/assets/images/sp-f-1.png">
            <span>Proven 80%+ Daily Win Rate</span>
        </div>
        <div>
            <img src="/assets/images/sp-f-2.png">
            <span>Over 100 New Signals Per Day</span>
        </div>
        <div>
            <img src="/assets/images/sp-f-3.png">
            <span>Short and Long Term Signals</span>
        </div>
        <div>
            <img src="/assets/images/sp-f-4.png">
            <span>Zero Experience Required</span>
        </div>
        <div>
            <img src="/assets/images/sp-f-5.png">
            <span>Real Time Signal Alerts</span>
        </div>
        <div>
            <img src="/assets/images/sp-f-6.png">
            <span>Money Back Guarantee</span>
        </div>
    </div>
</section>
<section id="sp-feature-01" class="sp-section">
    <div class="sp-content">
        <h2 class="align-center">Benefits of Using<br>Our Binary Options Signals</h2>
        <div class="sp-cright">
            <h3>Receive our Trading Signals with up to 70% Win-Rate</h3>

            You can generate up to a 70% win-rate by following the signals on our site. We'll teach you our powerful strategies for maximising your wins and optimising your performance using our signals.
            This will help you generate a win-rate far higher then our competitors.
        </div>
    </div>
</section>
<section id="sp-feature-02" class="sp-section">
    <div class="sp-content">
        <div class="sp-cleft">
            <h3>100+ Signals per Day. You'll Never Miss a Trade</h3>

            You'll receive 100+ signals per day (247), this provides you with MORE THAN enough trades to profit from. Our signals are based on proven strategies with a high win-rate.
            We also filter out signals during major news events to increase your win-rate even more!
        </div>
    </div>
</section>
<section id="sp-feature-03" class="sp-section">
    <div class="sp-content">
        <div class="sp-cright">
            <h3>Easy to Use for Beginners</h3>
            Minimal trading experience is required to use our trading signals. Our binary options software has been developed for beginners so that when you see a new trade,
            you have all of the information required in order to take it.
            <div>
                <span>Minimal Trading Experience Required</span>
                <span>Sound Alerts Generated for all New Signals</span>
                <span>Works Across all Devices</span>
            </div>
        </div>
    </div>
</section>
<section id="sp-key-features" class="sp-section">
    <div class="sp-content">
        <h2 class="white align-center">Our Key Features</h2>
        <div class="spacer-big"></div>
        <div id="sp-kf" class="clearfix">
            <div class="left">
                <div id="sp-kf-1">
                    <h3>Proven 80%+ Daily Win Rate</h3>
                    Beginners can enjoy up to 70% win-rate with our binary options signals, which are also paused during major news events and volatility. Our trading signals also work with any broker.
                </div>
                <div id="sp-kf-2">
                    <h3>Over 100 New Signals Per Day</h3>
                    All of our signals are generated using professional trading strategies that have been backtested over 6+ months.
                </div>
                <div id="sp-kf-3">
                    <h3>Short and Long Term Signals</h3>
                    As soon as you sign up you’ll receive instant access to our live signals interface. Wait for new signals to be generated on our website and then place your trade before the
                    recommended count down runs to 0.
                </div>
            </div>
            <div class="right">
                <div id="sp-kf-4">
                    <h3>Zero Experience Required</h3>
                    Get excellent value for money with 100+ signals generated every day 247. That’s because we monitor 10 different
                    currency pairs to find trading opportunities for you.
                </div>
                <div id="sp-kf-5">
                    <h3>Real Time Signal Alerts</h3>
                    We’re received a number of recommendations from other trading sites and were voted the no.1 binary options signals service by Investoo.com.
                </div>
                <div id="sp-kf-6">
                    <h3>Money Back Guarantee</h3>
                    Beginners can enjoy up to 70% win-rate with our binary options signals, which are also paused during major news events and volatility. Our trading signals also work with any broker.
                </div>
            </div>
        </div>
        <a ui-sref="checkout" class="button bg-orange submitbutton">Order Now</a>
    </div>
</section>
<section id="sp-dp" class="sp-section">
    <div class="sp-content">
        <h1>Daily Performance &amp; Profits</h1>
        <h4>On August 17th 2015, we set up a real account with $500 USD to take our trades</h4>
        <div id="sp-dp-info">
            <div id="sp-dpi-1">
                <h1>30 th</h1>
                <h4>November</h4>
            </div>
            <div id="sp-dpi-2">
                <h1>$500</h1>
                <h4>Starting Balance</h4>
            </div>
            <div id="sp-dpi-3">
                <h1>+ 91.67%</h1>
                <h4>Total Profit</h4>
            </div>
            <div id="sp-dpi-4">
                <h1>$958.35</h1>
                <h4>Current Balance</h4>
            </div>
        </div>
        <div class="align-center">
            Latest Signals 30 November 2015
        </div>
        <div class="spacer"></div>
        <div id="sp-dp-table">
            <table class="table-signals">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Signal Time</th>
                    <th>Expiry Time</th>
                    <th>Direction</th>
                    <th>Asset</th>
                    <th>Asset Win Rate</th>
                    <th>Target Price</th>
                    <th>End Price</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>19 Oct 2015</td>
                    <td class="green">20:02</td>
                    <td class="red">20:12</td>
                    <td><img src="/assets/images/ico-greenup.png"></td>
                    <td>AUD/NZD</td>
                    <td>65%</td>
                    <td class="green">1.06638</td>
                    <td class="red">1.06638</td>
                    <td class="green">Win</td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td class="green">18:27</td>
                    <td class="red">18:37</td>
                    <td><img src="/assets/images/ico-greenup.png"></td>
                    <td>NZD/USD</td>
                    <td>75%</td>
                    <td class="green">1.06638</td>
                    <td class="red">1.06638</td>
                    <td class="green">Win</td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td class="green">18:02</td>
                    <td class="red">18:22</td>
                    <td><img src="/assets/images/ico-reddown.png"></td>
                    <td>EUR/GBP</td>
                    <td>62%</td>
                    <td class="green">1.06638</td>
                    <td class="red">1.06638</td>
                    <td class="green">Win</td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td class="green">17:14</td>
                    <td class="red">17:24</td>
                    <td><img src="/assets/images/ico-greenup.png"></td>
                    <td>EUR/GBP</td>
                    <td>58%</td>
                    <td class="green">1.06638</td>
                    <td class="red">1.06638</td>
                    <td class="red">Loss</td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td class="green">15:10</td>
                    <td class="red">15:20</td>
                    <td><img src="/assets/images/ico-greenup.png"></td>
                    <td>CAD/CHF</td>
                    <td>70%</td>
                    <td class="green">1.06638</td>
                    <td class="red">1.06638</td>
                    <td class="green">Win</td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td class="green">12:38</td>
                    <td class="red">12:48</td>
                    <td><img src="/assets/images/ico-reddown.png"></td>
                    <td>EUR/USD</td>
                    <td>70%</td>
                    <td class="green">1.06638</td>
                    <td class="red">1.06638</td>
                    <td class="green">Win</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="sp-testim" class="sp-section">
    <div class="sp-content">
        <h2 class="align-center">What Other People<br>Are Saying</h2>
        <div id="testimonials" class="clearfix">
            <div class="left">
                <div class="test-wrapper" data-ng-repeat="testimonial in testimonialsLeft">
                    <div class="test dark">
                        {{testimonial.text}}
                    </div>
                    <div class="test-author align-right">
                        {{testimonial.author}} <img ng-csrc="/assets/images/{{testimonial.image}}">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="test-wrapper" data-ng-repeat="testimonial in testimonialsRight">
                    <div class="test dark">
                        {{testimonial.text}}
                    </div>
                    <div class="test-author align-right">
                        {{testimonial.author}} <img ng-csrc="/assets/images/{{testimonial.image}}">
                    </div>
                </div>
            </div>
        </div>
        <div id="test-nav" class="clearfix">
            <a href="#" class="nav-prev left">Previous</a>
            <a href="#" class="nav-next right">Next</a>
        </div>
        <a ui-sref="checkout" class="button bg-orange submitbutton">Order Now</a>
    </div>
</section>
<section id="sp-faq" class="sp-section">
    <div class="sp-content">
        <h2>Frequently Asked Questions<br>(FAQ)</h2>
        <div id="faq" class="clearfix">
            <div class="left">
                <a href="#" class="faq-item">How Do I Get FREE Binary Options Signals?</a>
                <a href="#" class="faq-item">Where do I Receive Your Signals?</a>
                <a href="#" class="faq-item">How Will I be Alerted to New Signals?</a>
                <a href="#" class="faq-item">Which Assets do you Provide Signals For?</a>
                <a href="#" class="faq-item">How Much Do I Need to Invest to use Your Software?</a>
                <a href="#" class="faq-item">Will it Work with My Broker?</a>
            </div>
            <div class="right">
                <a href="#" class="faq-item">What Time of Day will the Signals be Available?</a>
                <a href="#" class="faq-item">How are Your Signals Generated?</a>
                <a href="#" class="faq-item">Do You Filter Signals during Economic News Events?</a>
                <a href="#" class="faq-item">Why Should I Trust Your Binary Options Signals?</a>
                <a href="#" class="faq-item">What are Binary Options Signals?</a>
                <a href="#" class="faq-item">Can I Auto Trade Signals365.com’s Signals?</a>
            </div>
        </div>
        <div id="faq-contact">
            Have any questions? Contact us <a href="mailto:support@dextrader.com">support@dextrader.com</a>
        </div>
    </div>
</section>
<section id="sp-risk" class="sp-section">
    <div class="sp-content">
        <h3 class="align-center">Risk Disclaimer</h3>
        <div id="risk-info" class="clearfix">
            <div class="left">
                Trading in financial instruments carries a high level of risk to your capital with the possibility of losing more than your initial investment.
                Trading in financial instruments may not be suitable for all investors, and is only intended for people over 18. Please ensure that you are fully aware of the risks involved and, if necessary, seek independent financial advice.
                The past or recent trading performance of any stock, security, commodity or derivative is not necessarily indicative of future profits/losses.
            </div>
            <div class="right">
                We do not and can not guarantee that use of our Services will generate you profits. We do not and can not take responsibility for any losses to your accounts.
                <div class="spacer"></div>
                You must trade and take sole responsibility to evaluate all information
                provided by this website and use it at your own risk. All trading information we provide is intended as trade assistance only.
            </div>
        </div>
        <div id="risk-contact" class="align-center">Contact us <a href="mailto:admin@dextrader.com">admin@dextrader.com</a></div>
    </div>
</section>