<header>
    <div id="header-content">
        <div id="logo"><a href="http://dextrader.com"><img height="33" src="/assets/images/logo-{{product.name.toLowerCase()}}.png" alt="DEX Trader"></a></div>
        <div class="logo-text">
            <p>Secure Payment Website For</p>
            <span>www.dextrader.com/{{product.name.toLowerCase()}}</span>
        </div>
        <div id="secure-ib"></div>

        <div class="clear"></div>
    </div>
</header>

<section id="content">
    <div id="co-title" class="clearfix spaced">
        <h2 class="left">Checkout Page</h2>

        <div class="right">Order Details</div>
    </div>
    <!-- form start -->
    <form id="formCheckout" name="formCheckout" novalidate="novalidate" autocomplete="off">
        <div id="checkout-forms" class="checkout-forms content-left">
            <div>
                <h3 id="co-f1">Account Details</h3>

                <div class="form-wrapper">
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="email">Email</label>
                        <input type="email"
                               name="email"
                               autocomplete="address-level4"
                               class="form-control"
                               id="email"
                               required
                               data-ng-model="userData.email">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="email">Username</label>
                        <input type="text"
                               name="username"
                               class="form-control"
                               id="username"
                               data-ng-model="userData.username">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="first_name">Password</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               id="password"
                               required
                               data-ng-model="userData.password">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="first_name">First Name</label>
                        <input type="text"
                               name="first_name"
                               data-ng-blur="autoCompleteBillingName()"
                               class="form-control"
                               id="first_name"
                               required
                               data-ng-model="userData.first_name">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="last_name">Last Name</label>
                        <input type="text"
                               name="last_name"
                               data-ng-blur="autoCompleteBillingName()"
                               class="form-control"
                               id="last_name"
                               required
                               data-ng-model="userData.last_name">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="phone">Mobile Phone</label>
                        <input type="text"
                               name="phone"
                               data-ng-minlength="10"
                               data-ng-maxlength="12"
                               class="form-control"
                               id="phone"
                               data-ng-model="userData.phone">
                    </div>
                </div>
            </div>
            <div>
                <h3 id="co-f2">Billing Address</h3>

                <div class="form-wrapper">
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="address">Address</label>
                        <input type="text"
                               name="address"
                               class="form-control"
                               required
                               id="address"
                               data-ng-model="formData.billing_address">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="billing_address2">Address 2</label>
                        <input type="text"
                               name="billing_address2"
                               class="form-control"
                               id="billing_address2"
                               data-ng-model="formData.billing_address2">
                    </div>

                    <div class="form-group has-feedback" data-show-errors>
                        <label for="dex_country">Country</label>
                        <script type="text/ng-template" id="countryTemplate.html">
                            <a>
                                <span class="flag-icon flag-icon-{{match.model.code2 | lowercase}}"></span>
                                <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
                            </a>
                        </script>
                        <input type="text" name="dex_country" id="dex_country"
                               ng-model="formData.billing_country"
                               typeahead-on-select="selectCountry($item, $model, $label)"
                               typeahead-min-length="3"
                               typeahead-wait-ms="500"
                               autocomplete="off"
                               required
                               typeahead-template-url="countryTemplate.html"
                               placeholder="Start typing your country"
                               uib-typeahead="country.name for country in getCountry($viewValue)"
                               class="form-control">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="dex_city">City</label>
                        <script type="text/ng-template" id="cityTemplate.html">
                            <a>
                                <span class="flag-icon flag-icon-{{match.model.code2 | lowercase}}"></span>
                                <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
                            </a>
                        </script>
                        <input type="text" name="dex_city" id="dex_city"
                               data-ng-disabled="formCheckout.dex_country.$invalid"
                               ng-model="formData.billing_city"
                               typeahead-on-select="selectCity($item, $model, $label)"
                               typeahead-min-length="3"
                               typeahead-wait-ms="500"
                               autocomplete="off"
                               required
                               typeahead-template-url="cityTemplate.html"
                               placeholder="Start typing your city"
                               uib-typeahead="city.name for city in getCity($viewValue)"
                               class="form-control">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="dex_state">State/Province</label>
                        <input type="text"
                               name="dex_state"
                               id="dex_state"
                               aria-autocomplete="none"
                               data-ng-disabled="formCheckout.city.$invalid"
                               class="form-control"
                               required
                               data-ng-model="formData.billing_state"/>
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="zip">Zip/Postal Code</label>
                        <input type="text"
                               name="zip"
                               class="form-control"
                               id="zip"
                               required
                               maxlength="6"
                               data-ng-minlength="4"
                               data-ng-maxlength="10"
                               data-ng-model="formData.billing_zip">
                    </div>
                </div>
            </div>
            <div>
                <div class="clearfix">
                    <h3 id="co-f3" class="left">Payment Information</h3>

                    <div class="right credit-cards">
                        <img src="/assets/images/creditcards/amex.png">
                        <img src="/assets/images/creditcards/visa.png">
                        <img src="/assets/images/creditcards/mastercard.png">
                        <img src="/assets/images/creditcards/discover.png">
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="card_name">Full Name</label>
                        <input type="text"
                               name="card_name"
                               class="form-control"
                               id="card_name"
                               required
                               data-ng-model="formData.card_name">
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="card_number">Card Number</label>
                        <input type="text"
                               ui-mask="9999 9999 9999 9999"
                               ui-mask-placeholder=""
                               ui-mask-placeholder-char="*"
                               name="card_number"
                               class="form-control"
                               id="card_number"
                               required
                               data-ng-model="formData.number">
                    </div>

                    <div class="form-group has-feedback" data-show-errors>
                        <div>
                            <label for="cc-exp">Expiration</label>

                            <div>
                                <select id="cc-exp"
                                        class="form-control halfsize"
                                        name="cc-exp"
                                        data-ng-model="formData.card_exp_month"
                                        ng-options="month for month in months"
                                        required>
                                    <option value="">-- Exp Month --</option>
                                </select>
                                <select name="cc-exp2"
                                        class="form-control halfsize"
                                        ng-options="year for year in years"
                                        data-ng-model="formData.card_exp_year"
                                        required>
                                    <option value="">-- Exp Year --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <div>
                            <label for="cc-cvv">Security Code</label>
                            <input type="number" name="cc-cvv" id="cc-cvv"
                                   class="form-control"
                                   placeholder="CVV"
                                   required
                                   maxlength="3"
                                   data-ng-minlength="3"
                                   data-ng-model="formData.cvv">
                        </div>
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <label for="billing_phone">Billing Phone</label>
                        <input type="text"
                               name="phone"
                               data-ng-minlength="10"
                               data-ng-maxlength="12"
                               class="form-control"
                               id="billing_phone"
                               data-ng-model="formData.billing_phone">
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="checkbox"
                       name="terms"
                       id="terms"
                       data-ng-model="formData.terms"
                       required>
                <label for="terms" uib-tooltip="Check terms!" tooltip-is-open="showAgreementWarning"
                       tooltip-class="warning">
                    I agree to the payment terms as stated above
                </label>
            </div>
            <button class="btn btn-warning btn-block"
                    data-ng-click="send()">Create Account
            </button>
            <!--<a href="#" class="submitbutton bg-orange align-center">Create Account</a>-->
        </div>
        <div id="checkout-info" class="content-right">
            <div style="background: #f6f1eb">
                <h3>{{productsData[product.id].name}}</h3>

                <p>{{productsData[product.id].description}}</p>

                <div class="form-wrapper">
                    <select name="currency">
                        <option>USD</option>
                    </select>
                </div>
            </div>
            <div class="checkout-prices">
                <div class="clearfix">
                    <div class="left">Initial Payment</div>
                    <div class="right">{{products[0].amount | currency: '$'}}</div>
                </div>
                <div class="clearfix">
                    <div class="left">Tax</div>
                    <div class="right">$0.00</div>
                </div>
                <div id="checkout-total" class="clearfix">
                    <div class="left">Today's Payment</div>
                    <div class="right">{{products[0].amount | currency: '$'}}</div>
                </div>
                <p>
                    Immediate access to this product or service is available once payment is approved.
                </p>
            </div>
            <div class="checkout-prices" data-ng-if="product.showRecurrentPayment">
                <h3>Future Payments</h3>

                <div id="checkout-price-monthly" class="clearfix">
                    <div class="left">
                        Monthly Payment of
                    </div>
                    <div class="right">
                        {{(products[0].product && products[0].product.amount || products[0].amount) | currency: '$'}}
                    </div>
                </div>
                <p>
                    *<br>
                    Next payment will be billed in 30 days.
                    Amount includes taxes subject to change based on customer location and rate
                    adjustments.
                </p>
            </div>
        </div>
    </form>
    <!-- form end -->
    <div class="content-right">
        <div class="arrow_box quote">
            <img class="quote-img" src="/assets/images/ico-quote.png">
            {{selectedTestimonial.text}}
        </div>
        <div class="quote-author">
            <img data-ng-csrc="/assets/images/{{selectedTestimonial.image}}">
            {{selectedTestimonial.author}}
        </div>
        <div class="quote-nav clearfix">
            <a href="#" class="nav-prev left" data-ng-click="prevTestimonial()">&nbsp;</a>
            <a href="#" class="nav-next right" data-ng-click="nextTestimonial()">&nbsp;</a>
        </div>
    </div>
    <div class="clear"></div>
</section>