// Import bootstrap.
@import '../../vendor/bootstrap/less/bootstrap.less';
// This is the main variables file. Can be used to override bootstrap's less variables.
// You can also put your custom variables here.
@import 'variables.less';
// ADD CSS FILES HERE
@import (inline) "../../vendor/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css";
@import (inline) "../../vendor/angular-loading-bar/build/loading-bar.css";
@import (inline) "../../vendor/angular-ui-notification/dist/angular-ui-notification.css";
@import (inline) "../../vendor/angular-ui-bootstrap-datetimepicker/datetimepicker.css";

// Custom CSS rules.
body {
  padding-top: 70px;
}

footer {
  border-top: 10px solid #303135;
  padding: 20px 0;
  margin-top: 10px;
  text-align: center;
}

.user-disable-action {
  display: none !important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),
  url('/assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/fonts/glyphicons-halflings-regular.svg') format('svg');
}