<div data-ng-controller="FooterCtrl">
    <section id="quicklinks" data-ng-if="isLoggedIn()">
        <div id="ql-wrapper">
            <a id="ql-joingroup" href="https://www.facebook.com/groups/538082916353066/" target="_blank">Join Our
                Private Facebook Group</a>
            <a id="ql-earnmoney" ui-sref="affiliates.how_it_works">Earn Money For Referring People</a>
            <a id="ql-contact" href="#" data-ng-click="loadChat()">Contact Our Support Desk</a>
        </div>
    </section>
    <footer>
        <span id="footer-italic">Refer to our policies and disclosures here</span>

        <div id="footer-links">
            <a ui-sref="privacy">Privacy</a>
            <a ui-sref="terms_and_conditions">Terms</a>
            <a ui-sref="disclosure">Disclosure</a>
            <!--<a href="#">Compliance </a>-->
            <!--<a href="#">Affiliates</a>-->
            <a ui-sref="whitelist">Whitelist</a>
            <a ui-sref="refund">Refunds</a>
            <a ui-sref="contact_us">Contact Us</a>
        </div>
        <span>Copyright © 2015 DexTrader.com</span>
        <span>All international Right Reserved – Duplication Without Permission Is Prohibited!</span>

        <div id="footer-social">
            <a href="#">
                <img src="/front/assets/images/social-fb.png">
            </a>
            <a href="#">
                <img src="/front/assets/images/social-twitter.png">
            </a>
        </div>
    </footer>
</div>