.aff-resource-type{
  margin-top: 0;
}

.affiliates-resources {
  .custom-accordion {
    .panel {
      .panel-heading{
        background-color: #eaeaea;
        padding: 15px 20px;

        span {
          font-weight: 500;
          font-size: 14px;
        }

        .title {
          color: #919191;
        }
      }

      .panel-body{
        padding: 0;
      }
    }
  }
}