<section id="content" class="commissions">
    <h2 class="spaced">Affiliate Commissions</h2>

    <div id="commission-graphs" class="centeredboxes">
        <div>
            <div class="graph" style="height: 4px; background: #ff4e00"></div>
        </div>
        <div>
            <div class="graph" style="height: 8px; background: #ff7133"></div>
        </div>
        <div>
            <div class="graph" style="height: 12px; background: #ff9566"></div>
        </div>
        <div>
            <div class="graph" style="height: 18px; background: #ffb899"></div>
        </div>
        <div>
            <div class="graph" style="height: 22px; background: #ffdccc"></div>
        </div>
        <div>
            <div class="graph" style="height: 26px; background: #ffede5"></div>
        </div>
    </div>
    <div id="commission-stats" class="centeredboxes">
        <div>
            <h2 data-ng-bind="commissionTotals.today | currency: '$'"></h2>
            TODAY
        </div>
        <div>
            <h2 data-ng-bind="commissionTotals.yesterday | currency: '$'"></h2>
            YESTERDAY
        </div>
        <div>
            <h2 data-ng-bind="commissionTotals.last_week | currency: '$'"></h2>
            LAST WEEK
        </div>
        <div>
            <h2 data-ng-bind="commissionTotals.last_month | currency: '$'"></h2>
            LAST MONTH
        </div>
        <div>
            <h2 data-ng-bind="commissionTotals.last_year | currency: '$'"></h2>
            LAST YEAR
        </div>
        <div>
            <h2 data-ng-bind="commissionTotals.all_time | currency: '$'"></h2>
            ALL TIME
        </div>
    </div>
    <div id="commission-picker" class="filters">
        <div class="row">
            <div class="col-md-2">
                <span class="title">Commissions</span>
            </div>
            <div class="col-md-2">
                <input type="text"
                       data-ng-change="filters.apply()"
                       placeholder="From"
                       data-ng-focus="filters.from.opened = true"
                       class="form-control"
                       uib-datepicker-popup="{{filters.from.format}}"
                       ng-model="filters.from.value"
                       is-open="filters.from.opened"
                       max-date="filters.to.value"
                       close-text="Close"/>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control"
                       data-ng-change="filters.apply()"
                       data-ng-focus="filters.to.opened = true"
                       placeholder="To"
                       uib-datepicker-popup="{{filters.to.format}}"
                       ng-model="filters.to.value"
                       is-open="filters.to.opened"
                       min-date="filters.from.value"
                       close-text="Close"/>
            </div>
            <div class="col-md-3">
                <select style="width: 100%"
                        data-ng-model="filters.selectedProduct"
                        data-ng-options="prd.name for prd in filters.products"
                        data-ng-change="filters.apply()">
                    <option value="">Show All Products</option>
                </select>
            </div>
            <div class="col-md-3">
                <select style="width: 100%"
                        data-ng-model="filters.status"
                        data-ng-change="filters.apply()"
                        data-ng-options="st for st in filters.selectedStatus">
                    <option value="">All Results</option>
                </select>
            </div>
        </div>
    </div>
    <table class="base-table table-commissions">
        <thead>
        <tr>
            <th sortable="created_at"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort('created_at')">Date</th>
            <th sortable="status"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort('status')">Status</th>
            <th>Customer</th>
            <th>Enroller</th>
            <th>Product</th>
            <th>Retail</th>
            <th sortable="amount"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort('amount')">Comission</th>
            <th sortable="holdback"
                current-sort="sortBy.column"
                current-dir="sortBy.dir"
                data-ng-click="sortBy.sort('holdback')">10% h</th>
            <th>Income</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="commission in commissions">
            <td data-ng-bind="commission.created_at | amParse: 'YYYY-MM-DD HH:mm:ss' | dateFormat: 'DD MMM YYYY'"></td>
            <td data-ng-bind="commission.status"></td>
            <td data-ng-bind="commission.from.full_name"></td>
            <td data-ng-bind="user.full_name"></td>
            <td>
                <p class="prd-name" data-ng-repeat="prd in commission.products" data-ng-bind="prd.product_display_name"></p>
            </td>
            <td data-ng-bind="calculateRetail(commission.products) | currency: '$'"></td>
            <td data-ng-bind="commission.amount  | currency: '$'"></td>
            <td data-ng-bind="commission.holdback | currency: '$'"></td>
            <td data-ng-bind="(commission.amount - commission.holdback) | currency: '$'"></td>
        </tr>

        <tr data-ng-if="commissions.length == 0">
            <td class="text-center" colspan="9"> --- No commissions were found --- </td>
        </tr>
        </tbody>
    </table>
    <div class="table-nav row">
        <div class="col-md-8">
            <uib-pagination direction-links="false"
                            total-items="pagination.totalItems"
                            ng-model="pagination.currentPage"
                            ng-change="pagination.pageChange()"
                            items-per-page="pagination.itemsPerPage"
                            num-pages="smallnumPages"></uib-pagination>
        </div>

        <div class="col-md-4">
            <uib-pager total-items="pagination.totalItems"
                       items-per-page="pagination.itemsPerPage"
                       ng-change="pagination.pageChange()"
                       ng-model="pagination.currentPage"></uib-pager>
        </div>
    </div>
</section>