<section id="content" class="commissions">
    <h2 class="spaced">Affiliate Downline</h2>

    <div id="commission-picker" class="filters">
        <div class="row">
            <div class="col-md-8">
                <span class="title">Filters</span>
            </div>
            <div class="col-md-2">
                <input type="text"
                       data-ng-change="filters.apply()"
                       placeholder="From"
                       data-ng-focus="filters.from.opened = true"
                       class="form-control"
                       uib-datepicker-popup="{{filters.from.format}}"
                       ng-model="filters.from.value"
                       is-open="filters.from.opened"
                       max-date="filters.to.value"
                       close-text="Close"/>
            </div>
            <div class="col-md-2">
                <input type="text"
                       class="form-control"
                       data-ng-change="filters.apply()"
                       data-ng-focus="filters.to.opened = true"
                       placeholder="To"
                       uib-datepicker-popup="{{filters.to.format}}"
                       ng-model="filters.to.value"
                       is-open="filters.to.opened"
                       min-date="filters.from.value"
                       close-text="Close"/>
            </div>
        </div>
    </div>
    <table class="base-table table-downline">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Signup</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users">
            <td data-ng-bind="user.first_name"></td>
            <td data-ng-bind="user.last_name"></td>
            <td data-ng-bind="user.username"></td>
            <td data-ng-bind="user.phone"></td>
            <td data-ng-bind="user.email"></td>
            <td data-ng-bind="user.created_at | amParse: 'YYYY-MM-DD HH:mm:ss' | dateFormat: 'DD MMM YYYY'"></td>
        </tr>

        <tr data-ng-if="users.length == 0">
            <td class="text-center" colspan="9"> --- No downline were found --- </td>
        </tr>
        </tbody>
    </table>
    <div class="table-nav row">
        <div class="col-md-8">
            <uib-pagination direction-links="false"
                            total-items="pagination.totalItems"
                            ng-model="pagination.currentPage"
                            ng-change="pagination.pageChange()"
                            items-per-page="pagination.itemsPerPage"
                            num-pages="smallnumPages"></uib-pagination>
        </div>

        <div class="col-md-4">
            <uib-pager total-items="pagination.totalItems"
                       items-per-page="pagination.itemsPerPage"
                       ng-change="pagination.pageChange()"
                       ng-model="pagination.currentPage"></uib-pager>
        </div>
    </div>
</section>