<section id="content" class="affiliates-resources">
    <div id="video-wrapper" class="clearfix">
        <h2>Affiliate Resources</h2>

        <div id="video" class="aff-resource-preview">
            <h2 class="aff-resource-type">{{selectedResource.name}}</h2>

            <youtube-video video-id="selectedResource.video_id"
                           data-ng-if="selectedResource.video_id"
                           player-width="'598px'"
                           player-height="'350px'"
                           player-vars="playerVars"></youtube-video>

            <uib-accordion close-others="oneAtATime" class="custom-accordion">
                <uib-accordion-group data-ng-repeat="item in selectedResource.items" is-open="item.isDefault">
                    <uib-accordion-heading>
                        <span class="title" data-ng-bind="item.title"></span> {{item.subtitle}}
                    </uib-accordion-heading>
                    <div class="aff-resource-view-text">
                        <a class="copy"
                           href="#"
                           clipboard
                           text="item.text"
                           on-copied="copySuccess()"
                           on-error="copyError(err)">COPY</a>
                        <div class="aff-resource-view-text" data-ng-include src="item.templateUrl"></div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>


        </div>

        <div id="video-sideinfo" class="playlist aff-resources">
            <a id="{{resource.id}}"
               href="#"
               class="video-playlist-item"
               data-ng-class="{'active': resource.selected}"
               data-ng-repeat="resource in resources"
               data-ng-click="select(resource)" data-ng-bind="resource.name"></a>
        </div>
    </div>
</section>