<section id="content">
    <div id="video-wrapper" class="clearfix">
        <h2>Affiliates Training</h2>
        <div id="video">
            <div id="video-player" style="height: 363px">
                <youtube-video video-id="currentVideo.video_id"
                               player-width="'620px'"
                               player-height="'350px'"
                               player="ytPlayer"
                               player-vars="playerVars"></youtube-video>
            </div>
            <div class="video-data">
                <a class="button bg-orange"
                    data-ng-click="download(currentVideo)">Download Video</a>
                <a id="next-video"
                   class="button"
                   href="#"
                   data-ng-if="nextVideo"
                   data-ng-click="setVideo(nextVideo)">Next Video</a>
            </div>
        </div>
        <div id="video-sideinfo" class="playlist">
            <a class="title" href="#">Affiliate Training</a>
            <a class="video-playlist-item video-stopped"
               href="#"
               data-ng-class="[{'video-playing': training.playing}, {'active': currentVideo.video_id == training.video_id}]"
               data-ng-click="setVideo(training)"
               data-ng-repeat="training in trainings">{{::training.title}}<span data-ng-bind="::training.time"></span></a>
        </div>
    </div>

    <h2 class="spaced sz25" data-ng-bind="currentVideo.title"></h2>
    <div id="training-video-description" data-ng-bind="currentVideo.description"></div>
</section>