<header>
    <div id="header-content">
        <div id="logo"><a ui-sref="home"><img src="/assets/images/logo.png" alt="DEX Trader"></a></div>
        <div id="udt-info">
            Do You Want To Try It Out For <span class="bold orange">Only {{specialOffers[0].amount | currency: '$'}}</span> Today?
        </div>
        <div class="clear"></div>
    </div>
</header>

<section id="content" class="udt-content">
    <div id="ds-video">
        <iframe id="video-player" type="text/html"
                src="https://www.youtube.com/embed/gv9Ia3DA9nY?autoplay=1&amp;controls=0&amp;showinfo=0"
                frameborder="0"></iframe>
    </div>
    <button type="button"
            data-ng-click="openUpgradeForm()"
            data-ng-disabled="invoice_details.upsell_timer_seconds <= 0"
            class="btn btn-warning submitbutton bg-orange btn-block">Upgrade Now For Only {{specialOffers[0].amount | currency: '$'}}</button>

    <div class="spacer-big"></div>
    <div class="align-center bold size15">
        <div class="align-center bold size15">
            Hurry! Your <span class="orange">{{specialOffers[0].product.amount | currency: '$'}} {{specialOffers[0].amount | currency: '$'}} Trial Offer</span> Expires In
        </div>
    </div>
    <count-down
            ng-if="specialOffers[0].countdown"
            total-seconds="specialOffers[0].countdown"
            on-finish="timerFinish()"
            on-change="timerChange(remainSeconds)"></count-down>
    <div class="size17" style="line-height: 28px">
        You'll receive 100+ signals per day (247), this provides you with MORE THAN enough trades to profit from. Our
        signals are based on proven strategies with a high win-rate.
    </div>
    <a ui-sref="thankyou({invoice: invoice})" class="noty">No, thank you!</a>
</section>

<div class="liner"></div>