<div class="provider-form">
    <h1>Testimonial</h1>

    <form name="testimonialForm" novalidate="novalidate">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Testimonial Information</div>
                    <div class="panel-body">
                        <div class="form-group" data-show-errors>
                            <label for="author">Author</label>
                            <input type="text"
                                   name="author"
                                   class="form-control"
                                   id="author"
                                   data-ng-model="testimonial.author"
                                   placeholder="Author" required>
                        </div>
                        <div class="form-group" data-show-errors>
                            <label for="text">Text</label>
                            <textarea class="form-control"
                                      id="text"
                                      rows="4"
                                      name="text"
                                      data-ng-model="testimonial.text"
                                      required>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Provider Image</div>
                    <div class="panel-body">

                        <div class="upload-container">
                            <div ngf-thumbnail="file || image"
                                 ngf-as-background="true"
                                 class="upload-preview">
                            </div>

                            <div class="button btn-upload" ngf-select ng-model="file" name="file"
                                 ngf-pattern="'image/*'"
                                 accept="image/*" ngf-max-size="20MB" ngf-min-height="100"
                                 ngf-resize="{width: 36, height: 36, quality: 1, type: 'image/jpg', centerCrop: true}">
                                Change Image
                            </div>

                            <div ngf-drop ng-model="file"
                                 ngf-resize="{width: 36, height: 36, quality: 1, type: 'image/jpg', centerCrop: true}"
                                 ngf-drag-over-class="{pattern: 'image/*', accept:'acceptClass', reject:'rejectClass', delay:100}"
                                 class="drop-box">Or drop an image here
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body text-right">
                        <button class="btn btn-success" data-ng-click="uploadAndSave()">Save</button>
                        <button class="btn btn-danger" ui-sref="testimonials.list">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>