<section id="content">
    <h2 class="spaced">Billing Settings &amp; Info</h2>
    <div id="billing-subscriptions" class="content-left">
        <div>
            <h3>Subscriptions</h3>
            <div class="subscription">
                <a class="edit" href="#">EDIT</a>
                <h3>Dex IB</h3>
                <div class="sub-info centeredboxes">
                    <div class="sub-info-nb">
                        <span>Next Billing: </span>August 1st, 2015
                    </div>
                    <div class="sub-info-cc">
                        <span>Credit Card: </span>2570
                    </div>
                    <div class="sub-info-pr">
                        <span>Product Price: </span>$552
                    </div>
                </div>
            </div>
            <div class="subscription">
                <a class="edit" href="#">EDIT</a>
                <h3>Dex IB</h3>
                <div class="sub-info centeredboxes">
                    <div class="sub-info-nb">
                        <span>Next Billing: </span>August 1st, 2015
                    </div>
                    <div class="sub-info-cc">
                        <span>Credit Card: </span>2570
                    </div>
                    <div class="sub-info-pr">
                        <span>Product Price: </span>$552
                    </div>
                </div>
            </div>
            <div class="subscription">
                <a class="edit" href="#">EDIT</a>
                <h3>Dex IB</h3>
                <div class="sub-info centeredboxes">
                    <div class="sub-info-nb">
                        <span>Next Billing: </span>August 1st, 2015
                    </div>
                    <div class="sub-info-cc">
                        <span>Credit Card: </span>2570
                    </div>
                    <div class="sub-info-pr">
                        <span>Product Price: </span>$552
                    </div>
                </div>
            </div>
            <div class="subscription">
                <a class="edit" href="#">EDIT</a>
                <h3>Dex IB</h3>
                <div class="sub-info centeredboxes">
                    <div class="sub-info-nb">
                        <span>Next Billing: </span>August 1st, 2015
                    </div>
                    <div class="sub-info-cc">
                        <span>Credit Card: </span>2570
                    </div>
                    <div class="sub-info-pr">
                        <span>Product Price: </span>$552
                    </div>
                </div>
            </div>
        </div>
        <div id="order-history">
            <table id="order-history-table" class="minitable">
                <thead>
                <tr><th>Date</th>
                    <th>Product</th>
                    <th>Receipt</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>19 Oct 2015</td>
                    <td>Dex IB</td>
                    <td><a href="#">View</a></td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td>Dex NA</td>
                    <td><a href="#">View</a></td>
                </tr>
                <tr>
                    <td>19 Oct 2015</td>
                    <td>Dex FX</td>
                    <td><a href="#">View</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="billing-methods" class="content-right">
        <h3>Payment Methods</h3>

        <div class="cc" data-ng-repeat="cc in creditCards">
            <a class="edit" href="#" data-ng-click="openFormCreditCard(cc.cc_id)">EDIT</a>
            <h3><img ng-src="/front/assets/images/creditcards/{{cc.network}}.png" width="25"> ****  ****  ****  {{cc.last_four}}</h3>
            <div class="cc-info">
                <div><span>Expires: </span>{{cc.exp_month}}/{{cc.exp_year}}</div>
                <!--<div><strong>John Stalvey</strong>, 3116 Capital Cir NE</div>-->
                <div>{{cc.name}}</div>
            </div>
        </div>
        <a id="addcard" href="#" class="submitbutton bg-orange" data-ng-click="openFormCreditCard()">Add New Card</a>
    </div>
    <div class="clear"></div>
</section>