.credit-card-form {
  .dropup,
  .dropdown {
    padding: 10px 0px;

    &.open {
      padding: 0px;
    }
  }

  .credit-cards {
    .credit-card {
      margin: 0 5px;

      &.active {
        img{
          border: 2px solid #00A000;
        }
      }
    }
  }
}