<div class="auth">
    <div class="container">
        <h1>Login</h1>
        <form name="authForm" novalidate="novalidate">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login </div>
                        <div class="panel-body">
							<div class="form-group" data-show-errors>
								<label for="username">Username</label>
								<input type="username"
									   name="username"
									   class="form-control"
									   id="username"
									   required
									   data-ng-minlength="4"
									   data-ng-model="auth.username"
									   placeholder="Username">
							</div>
							<div class="form-group" data-show-errors>
								<label for="password">Password</label>
								<input type="password"
									   name="password"
									   id="password"
									   class="form-control"
									   required
									   data-ng-minlength="4"
									   data-ng-model="auth.password"
									   placeholder="Password">
							</div>
							<button class="btn btn-success pull-right" data-ng-click="login()">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>