<div class="live-signals-from">
    <h1>Live Signals</h1>

    <form name="liveSignalsForm" novalidate="novalidate">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!--'signal_date', 'signal_time', 'expiry_time', 'asset', 'asset_rate', 'target_price', 'end_price'-->
                    <div class="panel-heading">Signal Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="filterProducts">Product</label>
                                    <select class="form-control" id="filterProducts"
                                            data-ng-model="product" data-ng-options="prd.name for prd in products">
                                        <option value="">Show All Products</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-show-errors>
                                    <label for="asset">Asset</label>
                                    <input class="form-control"
                                           data-ng-model="asset"
                                           required
                                           name="asset"
                                           id="asset"
                                           ui-mask="AAA/AAA"
                                           ui-mask-placeholder=""
                                           ui-mask-placeholder-char=" ">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Direction</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="radio" data-ng-model="signal.direction" value="0"/>
                                            <img src="/assets/images/ico-reddown.png" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="radio" data-ng-model="signal.direction" value="1"/>
                                            <img src="/assets/images/ico-greenup.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Win?</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="radio" data-ng-model="signal.winloss" value="0"/>
                                            <label class="red">Loss</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="radio" data-ng-model="signal.winloss" value="1"/>
                                            <label class="green">Win</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Signal Time</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <datetimepicker ng-model="signal_time.value"
                                                            date-format="dd-MMM-yyyy"
                                                            show-meridian="showMeridian">
                                            </datetimepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Expiry Time</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <datetimepicker ng-model="expiry_time.value"
                                                            date-format="dd-MMM-yyyy"
                                                            show-meridian="showMeridian">
                                            </datetimepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Close Time</label>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <datetimepicker ng-model="close_time.value"
                                                            date-format="dd-MMM-yyyy"
                                                            show-meridian="showMeridian">
                                            </datetimepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-show-errors>
                                    <label for="trade_type">Trade Type</label>
                                    <input type="text"
                                           name="trade_type"
                                           class="form-control"
                                           id="trade_type"
                                           placeholder="Trade type"
                                           data-ng-model="signal.trade_type"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" data-show-errors>
                                    <label for="open_price">Open Price</label>
                                    <input type="number"
                                           name="open_price"
                                           class="form-control"
                                           id="open_price"
                                           placeholder="Open Price"
                                           data-ng-model="signal.open_price"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-show-errors>
                                    <label for="target_to">Target To</label>
                                    <input type="number"
                                           name="target_to"
                                           class="form-control"
                                           id="target_to"
                                           placeholder="Target To"
                                           data-ng-model="signal.target_to"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-show-errors>
                                    <label for="target_sleep">Target Sleep</label>
                                    <input type="number"
                                           name="target_sleep"
                                           class="form-control"
                                           id="target_sleep"
                                           placeholder="Target Sleep"
                                           data-ng-model="signal.target_sleep"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" data-show-errors>
                                    <label for="close_price">End Price</label>
                                    <input type="number"
                                           name="close_price"
                                           class="form-control"
                                           id="close_price"
                                           placeholder="End Price"
                                           data-ng-model="signal.close_price"
                                           required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body text-right">
                        <button class="btn btn-success" data-ng-click="save()">Save</button>
                        <button class="btn btn-danger" ui-sref="live_signals.list">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>