<div class="provider-list">

    <h1>Live Signals
        <button class="btn btn-sm btn-primary pull-right" ui-sref="live_signals.new">NEW SIGNAL</button>
    </h1>

    <div class="filters">
        <div class="col-md-4 pull-right">
            <div class="form-group">
                <label for="filterProducts">Product</label>
                <select class="form-control" id="filterProducts"
                        data-ng-change="filters.apply()"
                        data-ng-model="filters.product" data-ng-options="prd.name for prd in filters.products">
                    <option value="">Show All Products</option>
                </select>
            </div>
        </div>

    </div>
    <table class="table live-signals-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Signal Time</th>
            <th>Expiry Time</th>
            <th>Close Time</th>
            <th>Direction</th>
            <th>Asset</th>
            <th>Open Price</th>
            <th>Target To</th>
            <th>Target Sleep</th>
            <th>End Price</th>
            <th>Result</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="signal in signals">
            <td data-ng-bind="::signal.signal_time | amParse: 'YYYY-MM-DD HH:mm:ss' | dateFormat: 'DD MMM YYYY'"></td>
            <td data-ng-bind="::signal.signal_time | amParse: 'YYYY-MM-DD HH:mm:ss' | dateFormat: 'HH:mm'" class="green"></td>
            <td data-ng-bind="::signal.expiry_time | amParse: 'YYYY-MM-DD HH:mm:ss' | dateFormat: 'HH:mm'" class="red"></td>
            <td data-ng-bind="::signal.close_time | amParse: 'YYYY-MM-DD HH:mm:ss' | dateFormat: 'HH:mm'" class="red"></td>
            <td><img data-ng-src="{{signal.direction == 0 && '/assets/images/ico-reddown.png' || '/assets/images/ico-greenup.png'}}"></td>
            <td data-ng-bind="::signal.asset"></td>
            <td data-ng-bind="::signal.open_price"></td>
            <td data-ng-bind="::signal.target_to" class="green"></td>
            <td data-ng-bind="::signal.target_sleep" class="green"></td>
            <td data-ng-bind="::signal.close_price" class="red"></td>
            <td data-ng-class="{'green': signal.winloss == 1, 'red': signal.winloss == 0}">{{ ::signal.winloss == 1 && 'Win' || 'Loss' }}</td>
            <td>
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="live_signals.edit({id:signal.id, prd: filters.product.name.toLowerCase() })">Edit</a>
                        </li>
                        <li><a href="#" data-ng-click="openDeleteConfirm(signal.id)">Remove</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr data-ng-if="signals.length == 0">
            <td colspan="8" class="text-center">No Live Signals were found!</td>
        </tr>

        </tbody>
    </table>
    <div class="table-nav row">
        <div class="col-md-8">
            <uib-pagination direction-links="false"
                            total-items="pagination.totalItems"
                            ng-model="pagination.currentPage"
                            items-per-page="pagination.itemsPerPage"
                            ng-change="pagination.pageChange()"
                            num-pages="smallnumPages"></uib-pagination>
        </div>

        <div class="col-md-4">
            <uib-pager total-items="pagination.totalItems"
                       items-per-page="pagination.itemsPerPage"
                       ng-model="pagination.currentPage"
                       ng-change="pagination.pageChange()">
            </uib-pager>
        </div>
    </div>
</div>