<header data-ng-controller="HeaderCtrl">
    <div id="header-content">
        <div id="logo"><a ui-sref="dashboard"><img src="/front/assets/images/logo.png" alt="DEX Trader"></a></div>
        <ul id="header-nav">
            <li><a id="nav-dashboard"
                   ui-sref="dashboard"
                   ui-sref-active="active">Dashboard</a></li>
            <li><a id="nav-dexib"
                   ui-sref="dex_ib"
                   ui-sref-active="active">Dex IB</a></li>
            <li><a id="nav-dexna"
                   ui-sref="dex_na.coming_soon"
                   ui-sref-active="active">Dex NA</a></li>
            <li><a id="nav-dexfx"
                   ui-sref="dex_fx.coming_soon"
                   ui-sref-active="active">Dex FX</a></li>
            <li><a id="nav-affiliates"
                   ui-sref="affiliates"
                   ui-sref-active="active">Affiliates</a></li>
        </ul>
        <ul id="nav-profile">
            <li>
                <a ui-sref="user.profile">Profile</a>
                <ul>
                    <li><a ui-sref="login" data-ng-if="!isLoggedIn()">Login</a></li>
                    <li><a ui-sref="user.profile" data-ng-if="isLoggedIn()">Edit Profile</a></li>
                    <li><a href="#" data-ng-click="logout()" data-ng-if="isLoggedIn()">Logout</a></li>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</header>