<div class="user-profile">
    <div class="container">
        <h1>User Profile</h1>
        <div class="row">
            <div class="col-md-4 user-data">
                <h3>{{user.full_name}}</h3>
                <p>User ID: {{user.user_id}}</p>
                <p>Email: {{user.email}}</p>
                <p data-ng-if="user.phone">Phone: {{user.phone}}</p>
                <div class="role-list">
                    <p class="title">Roles</p>
                    <span data-ng-repeat="role in user.roles">{{role.name}}</span>
                </div>
            </div>
            <div class="col-md-8 user-details">
                <uib-tabset justified="true">
                    <uib-tab heading="Billing Addresses">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Address</th>
                                <th>Address2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Zip</th>
                                <th>Phone</th>
                                <th>Is Default?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="ba in billing_addresses">
                                <td>{{ba.address}}</td>
                                <td>{{ba.address2}}</td>
                                <td>{{ba.city}}</td>
                                <td>{{ba.state}}</td>
                                <td>{{ba.country}}</td>
                                <td>{{ba.zip}}</td>
                                <td>{{ba.phone}}</td>
                                <td>{{ba.default_address == 1 && 'Yes' || 'No'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                    <uib-tab heading="Credit Cards" select="loadUserCreditCards(user.user_id)">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>First Six</th>
                                <th>Last Four</th>
                                <th>Provider</th>
                                <th>Expiration</th>
                                <th>Is Default?</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="cc in credit_cards">
                                <td>{{cc.name}}</td>
                                <td>{{cc.first_six}}</td>
                                <td>{{cc.last_four}}</td>
                                <td><img width="40" data-ng-src="/assets/images/creditcards/{{cc.network}}.png" /> </td>
                                <td>{{cc.exp_month}}/{{cc.exp_year}}</td>
                                <td>{{cc.default_card == 1 && 'Yes' || 'No'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                    <uib-tab heading="Commissions">Commissions</uib-tab>
                    <uib-tab heading="Subscriptions">Subscriptions</uib-tab>
                    <uib-tab heading="Other Content">Other Content</uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>